/*-----------------------css reset-----------------------*/
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /*-----------------------css reset-----------------------*/

:root {
    --white: #F7F1F0;
    --cream: #E9C1AF;
    --blue: #1F3E59;
    --dark-blue: #1A3246;
    --green: #478647;
    --dark-green: #337433;
    --red: #D05050;
    --dark-red: #BE3E3E;
}

body {
    display: flex;
}

form {
    color: var(--blue);
    font-size: 1.5rem;
    height: 100vh;
    width: 25vw;
    padding: 10px;
    background-color: var(--cream);
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
form h2 {
    text-decoration: underline;
}
.field{
    display: flex;
    flex-direction: column;
}


input {
    border: none;
    border-bottom: 1px dashed var(--blue);
    background-color: var(--cream);
}

.non-radio input:focus {
    outline: none;
    border: none;
    border-bottom: 0.5px solid white;

}
form button {
    width: fit-content;
    color: var(--white);
    background-color: var(--blue);
    text-align: center;
    border-radius: 1px;
    padding: 7px 30px 7px 30px;
    margin-bottom: 20%;
    border: none;
    font-weight: lighter;
}
input[type="radio"] {
    appearance: none;
    border-radius: 20px;
    background-color: var(--cream);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--blue);
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
input[type="radio"]:checked {
background-color: var(--blue);
}

main {
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 1;
}
.book-table{
    border-collapse: collapse;
    font-size: 1.5rem;
    align-self: center;
}
th, td {
    width: 12vw;
    font-weight: lighter;
    text-align: center;
}
thead {
    color: var(--white);
    background: var(--blue);
}
